<div class="main-header-container">
  <div class="field">
    <label class="label" for="name">Nom: </label>
    <input type="text" id="name" name="name" [(ngModel)]="character.name">
  </div>

  <div class="field">
    <label class="label" for="player">Joueur: </label>
    <input type="text" id="player" name="player" [(ngModel)]="character.player">
  </div>

  <div class="field">
    <label class="label" for="player">Race: </label>
    <select id="race" name="race" [(ngModel)]="selectedRace" (ngModelChange)="selectRaceFn()">
      <option value=undefined>Choose</option>
      <option *ngFor="let race of races" [ngValue]="race">{{ race.name }}</option>
    </select>
  </div>

  <ng-container *ngIf="selectedRace">
    <div  class="field" *ngFor="let property of selectedRace.physicalProperties">
      <label class="label"  [for]="property.name">{{ property.name }}: </label>
      <input type="text" [class.short]="property.short" [id]="property.name" [name]="property.name" >
    </div>
  </ng-container>
</div>
