#healthContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  max-height: 30px;
  align-items: center;
}

.hp {
  max-width: 30px;
  max-height: 30px;
}

.hp:nth-child(7) {
  margin-right: 20px;
}

.vertical-bar {
  height: 30px;
  width: 3px;
  background: black;
  margin: 0 10px;
}
